@model ShapeAnalyzer.Models.ShapeAnalyzerTests

@{
    ViewBag.Title = "Shape Analyzer";
    var rx = new Random();
}

<h2>Shape Analyzer</h2>

<ul class="nav nav-pills nav-stacked">
    <li><a href="@Url.Action("TestCases")">Test Cases</a></li>
    <li><a href="@Url.Action("ManualTest")">Manual Test</a></li>
</ul>
